page-timePicker {

    ion-content{
        background-color: #000 !important;
        opacity: 0.3;
    }
    ion-icon {
        display: inline-block;
        font-size: 2.5em;
    }
    .icon{
        display: inline-block;
        font-size: 2.5em;
    }
    .arrow-up{
        width: 40%;
        margin-top: 5px;
    }
    .arrow-down{
        width: 40%;
        margin-top: 10px;
    }
    .popup-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparent;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        z-index: 12;
        visibility: visible;
        .popup {
            width: 70%;
            max-width: 100%;
            max-height: 90%;
            border-radius: 0px;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
        }
        
        .popup-body {
            overflow: visible;
            .heading {
                height: 44px;
                background-color: #009688;
                color: #ffffff;
                text-align: center;
                line-height: 44px;
                font-size: 18px;
                font-weight: bold;
            }
            .col {
                display: block;
                padding: 5px;
                width: 100%;
            }
            .button-small {
                padding: 2px 4px 1px;
                min-width: 28px;
                min-height: 30px;
                font-size: 12px;
                line-height: 26px;
            }                
            
            .row {
                display: flex;
                padding: 5px;
                width: 100%;
                .time_picker_colon {
                    padding-top: 45px;
                    text-align: center;
                    font-weight: bold;
                }
                .col-10{
                    flex: 0 0 10%;
                    max-width: 10%;
                }
                .col-25 {
                    -webkit-box-flex: 0;
                    flex: 0 0 25%;
                    max-width: 25%;
                }
                .col-offset-20 {
                    margin-left: 20%;
                  
                     
                }
               
                .time_picker_box_text {
                    height: 40px;
                    text-align: center;
                    border: 1px solid #dddddd;
                    font-size: 16px;
                    line-height: 38px;
                }
                .button.button-dark.button-clear {
                    border-color: transparent;
                    background: none;
                    box-shadow: none;
                    color: #444;
                }
                .time_picker_arrows {
                    width: 100%;
                }
                .button-clear{
                    transition: opacity 0.1s;
                    padding: 0 6px;
                    max-height: 42px;
                }
                
            }
        }

        .popup-buttons {
            padding: 0;
            min-height: 44px;
            height: 44px;
            flex-direction: row;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: horizontal;
            .button {
                -webkit-box-flex: 1;
                flex: 1;
                display: block;
                min-height: 45px;
                border-radius: 1px;
                line-height: 20px;
                position: relative;
                margin: 0;
                padding: 0 12px;
                min-width: 52px;
                border-style: solid;
                border-width: 0px;
                vertical-align: top;
                text-align: center;
                text-overflow: ellipsis;
                font-size: 16px;
                cursor: pointer;
            }
             
             .button_set{
                background-color: #009688;
                color: #ffffff;
                border-right-width: 0.1px;
             }
             .button_close {
                background-color: #009688;
                color: #ffffff;
                border-left-width: 0.5px;
            }
        }
        
    }
}
